body {
    background-color: aquamarine;
}
h1 {
    border-bottom: 2px solid grey;
    border-right: 2px solid grey;
    /* padding-right: 10px; */
    width: 400px;
    text-align: center;
}

.boxmodel {
border: 2px solid grey;
display: flex;
flex-wrap: wrap;
justify-content: center;
}

.center {
display: block;
margin-left: auto;
margin-right: auto;
width: 20%;
}